.vds-slider-chapter .vds-slider-track-fill {
  background-color: var(--primary);
}
.vds-slider-chapter .vds-slider-progress {
  background-color: var(--white);
}

[data-media-player][data-layout='video'] {
  background-color: var(--video-bg);
}

:where(.vds-video-layout .vds-controls[data-visible]) {
  border-radius: 0px;
}
[data-media-player][data-layout='video']:not([data-fullscreen]) {
  border-radius: 0px;
}

:where(.vds-video-layout .vds-time[data-type='current']) {
  margin-right: 2px;
  color: var(--white) !important;
}
:where(.vds-video-layout .vds-time[data-type='duration']) {
  margin-right: 20px;
  color: var(--grey30) !important;
}

.vds-video-layout .vds-controls-group:nth-last-child(2) {
  position: absolute;
  bottom: 30px;
  /* z-index: 11; */
}
.vds-time-divider {
  display: none;
}
